[Unit]
Description=Bifrost daemon
After=network.target

[Service]
User=root
Group=bifrostd
WorkingDirectory=/home/antenor
ExecStart=/home/antenor/git/bifrost/d/bifrostd
Restart=on-abort
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
