[Unit]
Description=Bifrost daemon
After=network.target

[Service]
User=root
Group=bifrostd
ExecStart=/usr/bin/bifrostd --conf /etc/bifrostd/conf.json
ExecStartPre=/bin/mkdir -p /var/run/bifrostd
ExecStartPre=/bin/chown -R root:bifrostd /var/run/bifrostd/
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
