[Unit]
Description=Bifrost daemon
After=network.target

[Service]
User=root
Group=bifrostd
WorkingDirectory=/home/antenor
ExecStart=/home/antenor/git/bifrost/d/bifrostd
ExecStartPre=/bin/mkdir -p /var/run/bifrostd
ExecStartPre=/bin/chown -R root:bifrostd /var/run/bifrostd/
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
