{
    "datadir" :"/tmp/data.json",
    "queuedir": "/tmp/queue",
    "httpd": {
        "path": "/tmp/bifrostd.sock"
    },
    "aws": {
        "conf": {
            "region": "eu-west-1",
            "credentials": {
                "accessKeyId": "",
                "secretAccessKey": ""
            },
            "apiVersion": "2006-03-01"
        },
        "bucketName": "bifrost.yourname.com"
    }
}
